<!DOCTYPE html>
<html ng-app="cashApp">
<head>
  <title>Angular Cash Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body ng-controller="cashRegister" ng-cloak>
  <nav>
    <ul>
      <li><button type="button" ng-model="food[0]" ng-click="receipt.addItem(food[0], receipt.receiptArray)">Pizza - $9.99</button></li>
      <li><button type="button" ng-model="food[1]" ng-click="receipt.addItem(food[1], receipt.receiptArray)">Salad - $5.99</button></li>
      <li><button type="button" ng-model="food[2]" ng-click="receipt.addItem(food[2], receipt.receiptArray)">Burger - $12.99</button></li>
      <li><button type="button" ng-model="food[3]" ng-click="receipt.addItem(food[3], receipt.receiptArray)">Cheeseburger - $12.99</button></li>
    </ul>
  </nav>

  <main>

    <section class="receipt">
      <ul>
        <li ng-repeat="food in receipt.receiptArray">{{ food.name }} X {{ food.count }} = {{ food.price * food.count | currency }}</li>
      </ul>
    </section>

    <section class="total">
      <h4>TOTAL: {{ cost.total | currency }}</h4>
      <h4>TAX: {{ cost.tax | currency }}</h4>
    </section>

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>

</html>
